.active {
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff !important;
}

.disable {
    color: var(--bdbdbd, #bdbdbd);
    font-size: 16px;
}

.labelNext {
    font-size: 16px;
    color: var(--bdbdbd, #bdbdbd);
    cursor: pointer;
    user-select: none;
    padding-right: 15.5px;
    padding-left: 12px;
}

.labelPrev {
    font-size: 16px;
    color: var(--bdbdbd, #bdbdbd);
    cursor: pointer;
    user-select: none;
    padding-right: 12px;
    padding-left: 15.5px;
}
.breakLabel {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    margin-right: 10px;
}

.Dropdown {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
