.logoBase {
    height: 34px;
}

/* Logo for navbar */
/* .logonav {
    display: block;
} */

/* Logo for non-navbar screen */
.logo {
    z-index: 1;
    position: absolute;
    height: 42px;
    margin-left: 33px;
    margin-top: 15px;
    top: 0;
    left: 0;
}

.logoForm {
    height: 45px;
}

@media screen and (max-width: 800px) {
    .logoBase {
        height: 22px;
    }

    /* Logo for navbar */
    /* .logonav {
        display: none;
    } */

    /* Logo for non-navbar screen */
    .logo {
        height: 16px;
        margin-left: 13px;
        margin-top: 14px;
    }

    .logoForm {
        height: 29px;
    }
}
