.breadCrumb {
    border-bottom: 0.5px solid #bdbdbd;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    background-color: #ffffff;
    height: 88px;
}

.drawerLeft {
    background-color: #292c31;
    width: 319px;
    height: 100%;
    padding-top: 52px;
    padding-bottom: 50px;
    padding-left: 60px;
    max-height: max-content;
}

.drawerText {
    color: white;
    margin-bottom: 52px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.breadCrumbText {
    font-size: 36px;
}

@media screen and (max-width: 1750px) {
    .breadCrumbText {
        font-size: 32px;
    }
}
