.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cartBadge {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    top: -1px;
    right: -35%;
}

.iconSize {
    height: 32px;
    width: 32px;
}

.cartSize {
    height: 31px;
    width: 26px;
}

.drawerIcon {
    width: 18px;
}

.avatarDropdown {
    position: absolute;
    top: 60px;
    right: 3%;
}

/* .searchIcon {
    margin-bottom: -4px;
    display: block;
} */

/* .searchIconMobile {
    margin-bottom: -4px;
    display: none;
} */

/* .logoMobile {
    display: none;
} */

@media screen and (max-width: 800px) {
    .cartBadge {
        position: absolute;
        z-index: 1;
        width: 15px;
        height: 15px;
        font-size: 12px;
        top: -1px;
        right: -35%;
    }

    .iconSize {
        height: 21px;
        width: 21px;
    }

    .cartSize {
        height: 21px;
        width: 18px;
    }

    .avatar {
        display: none;
    }

    .avatarDropdown {
        position: absolute;
        top: 52px;
        right: 3%;
    }

    /* .searchIcon {
        margin-bottom: -2px;
        display: none;
    } */

    /* .searchIconMobile {
        margin-bottom: -4px;
        display: block;
    } */

    /* .logoMobile {
        display: block;
        height: 24px;
    } */
}
